.idea
svcmgr/svcmgr.conf
svcmgr/svcmgr.lkh.conf
svcmgr/svcmgr.exe
go.sum
go.mod
./svcmgr.conf
svcmgr.conf
node_modules
yarn.lock

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
